.Button {
    height: 100px;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    position: relative;
    margin: 20px;
}

.Button__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 25px;
    background-color: #80ffe5;
    border-radius: 10px;
    padding: 5px;
}

.Button__wrapper:hover {
    background-color: #006652;
}

.Button__wrapper:hover > a {
    color: #80ffe5;
}

.Button--blue {
    text-decoration: none;
    color: #006652;
    font-size: 18px;
}